header {
    background-color: #48a9e5;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 1.5em;

h1 {
    background-color: #48a9e5;
    color: white;
    font-size: .5em;
}

}
img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.main p{
    background-color: #48a9e5;
    text-align: center;
    color: black;
    font-size: 1em;
}