

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');


/* Nav */
a:hover {
    background-color: #172625;
    color: #F0F2F0;
}
#content {
    font-family: "Antonio", "Arial";
    background-color: #92A6A6;
    width: 100%;
}
header {
    font-family: "Antonio", "PT Sans";
    display: grid;
    grid-template-columns: 25% auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    border: 5px solid white;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
nav {
    color: #F0F2F0;
    display: flex;
    justify-content: space-around;
    font-family: "Antonio", "Arial";
    font-size: 1.2em;
    padding-top: 35px;
    margin-left: 50px;
}
nav a {
    padding: 25px;
    padding-top: 10px;
    height: 15%;
    color: #172625;
    text-decoration: none;
    font-family: "Antonio", "Arial";
    transition: transform .5s;
    box-shadow: 10px 10px 10px #6f7364;
    border: 1px solid white;
    background-color: #92A6A6;
}
nav a:hover {
    background-color: #172625;
    color: #F0F2F0;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #6f7364; /* Fallback color */
    background-color: #6f7364; /* Black w/ opacity */
    padding-top: 60px;
    font-size: 1em;
}
/* Login Button */
button {
    padding: 25px;
    padding-top: 10px;
    height: 50%;
    color: #172625;
    text-decoration: none;
    font-family: "Antonio", "Arial";
    transition: transform .5s;
    box-shadow: 10px 10px 10px #6f7364;
    border: 1px solid white;
    background-color: #92A6A6;
    justify-content: space-around;
    font-size: 1em;
}
button:hover {
    background-color: #73494F;
    color: #F0F2F0;
}
.container input {
    margin-top: 40px;
}
/* Submit button */
button.submit {
    background-color: #92A6A6;
    box-shadow: none;
    font-size: 1em;
    margin-top: 20px;
    border: 1px solid black;
    height: 75%;
}
button.submit:hover {
    background-color: #73494F;
}

/* Modal Content/Box */
.modal-content {
    background-color: #F0F2F0;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* Password container */
.psw-container {
    font-size: 12px;
    margin-left: 50px;
    margin-top: 50px;
}   
.psw-container a {
    background-color: transparent;
    box-shadow: none;
    font-size: 12px;
    text-decoration: underline;
    padding-bottom: 15px;
}
.psw-container a:hover {
    background-color: #73494F;
}
.cancelbtn {
    justify-content: left;
    background-color: #92A6A6;
    box-shadow: none;
    font-size: 2em;
    padding-bottom: 10px;
    border: 1px solid black;
}

/* User Name label */
.container {
    margin: 25px;
}
div .container {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-evenly;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #172625;
    font-size: 45px;
    font-weight: bold;
}

/* Close button on hover */
    .close:hover,
    .close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */
.animate {
    color: #172625;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)}
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)}
to {transform: scale(1)}
}





/* Footer */
footer {
    background-color: #92A6A6;
    color: #F0F2F0;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Antonio", "Arial";
    max-width: 100%;
}
footer a {
    color: #172625;
    text-decoration: none;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
    font-family: "Roboto";
}
footer p a:hover {
    text-decoration: underline;
    background-color: #172625;
    color: #F0F2F0;
}
footer .social img {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

/* Graphics Page */
.page-title {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    font-family: "Roboto", "Arial";
}
.graphics-grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    font-family: "Antonio", "Arial";
}
.title-msg {
  font-family: "Antonio", "Arial";
}
.submit {
  padding-bottom: 10px;
}
#button {
  margin-bottom: 10px;
  background-color: #92A6A6 ;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.tie {
  float: left;
  width: 30%;
  padding: 5px;
  margin: 10px;
  margin-top: 60px;
}
.graphic-phone-case {
  float: left;
  width: 30%;
  padding: 5px;
  margin: 10px;
}
.onsie {
  float: left;
  width: 30%;
  padding: 5px;
  margin: 10px;
  margin-top: 50px;
}
.tie img, .graphic-phone-case img, .onsie img {
  box-shadow: 5px 5px 10px #6f7364;
  margin-bottom: 10px;

}
.tie img:hover, .graphic-phone-case img:hover, .onsie img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.add-to-cart-button:hover {
  background-color: #73494F;
}
button.add-to-cart-button {
  background-color: #92A6A6 ;
  color:  #172625;
  border: 1px solid white;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  width: 80%;
  margin-left: 10%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}




/* Main Products Page */
.page-title {
    display: grid;
}
.title-msg {
    margin-top: 0px;
}
p {
    margin-top: 30px;
    font-size: 20px;
    padding: 30px;
    padding-top: 0;
}
button.add-to-cart-button {
    border: 1px solid white;
    font-size: 12px;
    margin-left: 4.5em;
    
}
div.container {
    padding: 0;
    margin: 0;
}
span.add-to-cart {
    padding: 0;
}
.pre-made-grid {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
}
.hair-clip-card {
    grid-column: 3/8;
    border: 5px solid #172625;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    justify-content: center;
}
.hair-clip-img {
    width: 90%;
    margin: 15px;
    margin-top: 50px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;

    top:-50px; 
    left:-35px; 
    display:block; 
    cursor: pointer; 
    transition-duration: .5s; 
    -webkit-transition-duration: 0.3s; 
    transition-timing-function: ease; 
} 
/*change the number below to scale to the appropriate size*/ 
.hair-clip-img:hover { 
    transform: scale(2.5); 
    z-index: 999;
}
.hair-clip-card h2 {
    margin-bottom: 30px;
    margin-top: 40px;
}
.hair-clip-card button {
    margin-bottom: 10px;
    background-color: #92A6A6;
    font-family: "Roboto", "Arial";
}

.phone-holster-card {
    grid-column: 15/20;
    border: 5px solid #172625;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    justify-content: center;
}
.phone-holster-img {
    max-width: 90%;
    margin: 15px;
    margin-bottom: 20px;
    margin-top: 50px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
/* used this website to learn how to build the "enlarge as you hover" effect:display:
https://dev.to/cwrcode/create-add-to-cart-button-using-html-css-javascript-3glc */
    top:-50px; 
    left:-35px; 
    display:block; 
    cursor: pointer; 
    transition-duration: .5s; 
    -webkit-transition-duration: 0.3s; 
    transition-timing-function: ease; 
}     
/*change the number below to scale to the appropriate size*/ 
.phone-holster-img:hover { 
    transform: scale(2.5); 
    z-index: 999;
}
.phone-holster-card h2 {
    margin-bottom: 30px;
    margin-top: 40px;
}
.phone-holster-card button {
    margin-bottom: 10px;
    background-color: #92A6A6;
    font-family: "Roboto", "Arial";
}

.bill-fold-card {
    display: grid;
    grid-column: 9/14;
    border: 5px solid #172625;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    justify-content: center;

}
.bill-fold-img {
    width: 90%;
    margin: 15px;
    margin-bottom: 0;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    align-content: center;

    top:-50px; 
    left:-35px; 
    display:block; 
    cursor: pointer; 
    transition-duration: .5s; 
    -webkit-transition-duration: 0.3s; 
    transition-timing-function: ease;  
}
        
/*change the number below to scale to the appropriate size*/ 
.bill-fold-img:hover { 
    transform: scale(2.5); 
    z-index: 999;
}
.bill-fold-card h2 {
    margin-bottom: 5px;
}
.bill-fold-card button {
    margin-bottom: 10px;
    background-color: #92A6A6;
    font-family: "Roboto", "Arial";
}




/* Custom Order Page */

.page-title {
    font-family:"Roboto", "Arial";
    font-size: 1.5em;
    margin-top: 75px;
}
body {
    /* center the form on the page */
    text-align: center;
}
form {
    display: inline-block;
    /* From Outline */
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 50px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
label {
    /* uniform size and alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
    margin-top: 1.5em;
}
input
textarea {
      /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em arial, sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
}
input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 15em;
    margin-top: 1.5em;
}
.button {
    /* Align buttons with the text fields */
    /* same size as the label elements */
    padding-left: 90px; 
    margin-top: 1.5em;
}
button {
    /* This extra margin represent roughly the same space as the space
    between the labels and their text fields */
    margin-left: 0.5em;
    padding-bottom: 15px;
}

/* custom order images */

.birkenstocks {
  width: 50%;
}
.wallet {
  width: 47%;
}
.leather-phone-case {
  width: 32.5%;
}
.heels {
  width: 45%;
}
.hats {
  width: 76%;
}
.shoes {
  width: 35.5%;
}
.skillet-handle {
  width: 31%;
}
.spur-strap {
  width: 26%;
}
.twisted-shoes {
  width: 32%
}
div.scroll-container {
  width: 80%;
  margin-left: 9%;
  margin-bottom: 5px;
  background-color: #172625;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 5px 5px 5px #6f7364;
}

div.scroll-container img {
  padding: 10px;
}
label {
  /* uniform size and alignment */
  display: inline-block;
  min-width: 90px;
  text-align: right;
  margin-top: 1.5em;
}
input
textarea {
    /* To make sure that all text fields have the same font settings
   By default, textareas have a monospace font */
  font: 1em "Roboto", "Arial";
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}
input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}
textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 15em;
  width: 15em;
  margin-top: 1.5em;
}
p {
  color: #172625;
  margin-bottom: 50px;
}

button.submit {
  transition: transform .5s;
  box-shadow: 5px 10px 10px #6f7364;
  background-color: #fefefe;
  border: 0;
}
button {
  margin-right: 4em;
}

#feedback.submit {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;      
}
.moveDown {
  margin-top: 3em;
}

/* Add to Cart button boxes */
.container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100%;
  z-index: 0;
}
.add-to-cart-button {
  background: #172625;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 13px -2px rgba(0, 0, 0, .15);
  box-shadow: 0 3px 13px -2px rgba(0, 0, 0, .15);
  color: #fff;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  justify-content: space-around;
  min-width: 50px;
  overflow: hidden;
  outline: none;
  padding: 0.7rem;
  position: relative;
  text-transform: uppercase;
  transition: 0.4s ease;
  width: auto;
}
.add-to-cart-button:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(252, 186, 3, .45);
  box-shadow: 0 0 0 0.2rem rgba(252, 186, 3, .45);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}
.add-to-cart-button:hover {
  cursor: pointer;
  /* z-index: 0; */
}
.add-to-cart-button:hover, .add-to-cart-button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem white;
  box-shadow: 0 0 0 0.2rem white;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
.add-to-cart-button.added {
  background: white;
  color: #73494F;
  -webkit-box-shadow: 0 0 0 0.2rem white;
  box-shadow: 0 0 0 0.2rem white;
}
.add-to-cart-button.added .add-to-cart {
  display: none;
}
.add-to-cart-button.added .added-to-cart {
  display: block;
}
.add-to-cart-button.added .cart-icon {
  animation: drop 0.3s forwards;
  -webkit-animation: drop 0.3s forwards;
  animation-delay: 0.18s;
}
.add-to-cart-button.added .box-1, .add-to-cart-button.added .box-2 {
  top: 18px;
}
.add-to-cart-button.added .tick {
  animation: grow 0.6s forwards;
  -webkit-animation: grow 0.6s forwards;
  animation-delay: 0.7s;
}
.add-to-cart, .added-to-cart {
  margin-left: 36px;
}
.added-to-cart {
  display: none;
  position: relative;
}
.add-to-cart-box {
  height: 5px;
  position: absolute;
  top: 0;
  width: 5px;
  /* z-index: 0; */
}
.box-1, .box-2 {
  transition: 0.4s ease;
  top: -8px;
}
.box-1 {
  left: 23px;
  transform: rotate(45deg);
}
.box-2 {
  left: 32px;
  transform: rotate(63deg);
}
.cart-icon {
  left: 15px;
  position: absolute;
  top: 8px;
}
.tick {
  background: #146230;
  border-radius: 50%;
  position: absolute;
  left: 28px;
  transform: scale(0);
  top: 5px;
  z-index: 2;
}
@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(1px);
  }
}
@keyframes drop {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1px);
  }
}


  


@media screen and (max-width: 900px) {
    #feedback {
        background-color: antiquewhite;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: .5em;
        /* make this element invisible until we are ready for it */
        display: none;      
        }
        .moveDown {
            margin-top: 3em;
        }
}