/* * {
    border: 2px solid blue;
}  */

.upper-image {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

nav {
    background-color: #8a8a8a;
    padding: 0;
    margin: 0;
    border: 0;
}

nav a {
    text-align: center;
    margin: 0;
}

.desk {
    width: 20%;
    border-radius: 50%;
    background: 50px #353635;
    padding: 20px;
    margin: 60px;
}

.graphic {
    width: 20%;
    border-radius: 50%;
    background: #353635;
    padding: 20px;
    margin: 60px;
}

.person {
    width: 20%;
    border-radius: 50%;
    background: #353635;
    padding: 20px;
    margin: 60px;
}